name: Aar Builder

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: assembleRelease
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true

      - name: Upload bcore.aar
        uses: actions/upload-artifact@v3
        with:
          name: Bcore
          path: Bcore/build/outputs/aar/
       
      - name: Upload android-mirror.aar
        uses: actions/upload-artifact@v3
        with:
          name: android-mirror
          path: android-mirror/build/outputs/aar/
